:root {
    --akkadianMain: #d2e3e9; 
    --akkadianText: rgb(20, 3, 51);
    --akadianStrong: var(--main-black);
 
}




/* ======================================COMMUNITY STYLES ===========================================--*/
.help-title {
    margin: 5pc 5pc;
    font-size: 3rem;
    color: var(--akkadianMain);
}

.community_settings {
    border-radius: 8px;
    margin: 50px auto;
    width: 80%;
    height: fit-content;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-flow: column;
    background-color: var(--akkadianMain);
    color: var(--akkadianText);
    filter: drop-shadow(0px 0px 5px);
}


.news {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.comm_nav_panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

.trending_btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.chat_box-btn {
    display: flex;
    align-items: center;
    gap: 5px;

}

.newTopic-signal {
    display: flex;
    align-items: center;
    gap: 5px;

}

.newTopic {
    display: flex;
    gap: 10px;
}

.sec_one, .sec_two, .sec_three {
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
    flex-basis: 400px;

}

a {
    text-decoration: none;
}

.discord {
    border: 1px solid lightgray;
    display: flex;
    padding: 10px;
    width: 100%;

}

.your-contacts {
    flex-flow: column;
    display: flex;
    gap: 10px;
    width: 15%;
}

.cont-box {
    height: 100px;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid lightgray;
}
.coms-cont {
    width: 8%;
    position: fixed;
    background-color: var(--akkadianText);
    color: var(--akkadianMain);
    padding: .1pc;
}

.favs {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
}

.chat-room {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 10px;

}



.chatroom-holder {
    padding: 10px;
    height: fit-content;
    width: 100%;
    border-radius: 8px;
    background-color: rgba(128, 125, 122, 0.158);
}


/* messages box styles */

.current_message_contact {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    align-items: center;
}

.img_c_user {
    height: 50px;
    border-radius: 100%;
}

.message_actions {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.message-container {
    padding: 10px;
    background-color: rgba(151, 146, 146, 0.322);
    border-radius: 9px;
}

.msg_box {
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
}

.message-box_2-1, .message-box_2-2, .message-box_2-3 {
    float: right;
}

.chat-actions {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chatting-box {
    width: 90%;
    height: 35px;
    background-color: #fff;
}

.userChatProf {
    display: flex;
    align-items: center;
    gap: 5px;
}

.user-chat_prof {
    height: 25px;
    border-radius: 100%;
}


li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    gap: 5px;
}

li:hover {
    background-color: rgba(26, 14, 14, 0.171);
    cursor: default;
}

/* display <=900px */

@media only screen and (max-width: 900px) {
    .comm_nav_panel {
        width: 100%;
    }

    .newTopic {
        display: flex;
        flex-flow: column;
    }

    /* chats styles */

    .discord {
        display: flex;
        flex-flow: column;
    }

    .your-contacts {
        display: none;
        width: 70%;
        margin: 0 auto;
    }

    .coms-cont {
        width: 50%;
    }

    .msg_box {
        margin: 5px;
    }
}
